[Unit]
Description=Tomcat
After=network.target

[Service]
Type=forking
User={{ user }}
Group={{ user }}
Environment="JAVA_HOME={{ java_home }}"
Environment="JAVA_OPTS=-Djava.security.egd=file:///dev/urandom"
Environment="CATALINA_BASE={{ home }}"
Environment="CATALINA_HOME={{ home }}"
Environment="CATALINA_PID={{ home }}/temp/tomcat.pid"
ExecStart={{ home }}/bin/startup.sh
ExecStop={{ home }}/bin/shutdown.sh

[Install]
WantedBy=multi-user.target